@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var leadBannerId = Umbraco.Media(CurrentPage.leadbannerImage);
    string leadBannerUrl = leadBannerId.Url;
    var products = CurrentPage.Children().Where("Visible");
    bool isPictureLayout = CurrentPage.isPictureLayout;
}

@section stylesheets {
    <style>
        body header {
            background-image: url('@Html.Raw(leadBannerUrl)');
        }
    </style>
}

@Html.Partial("~/Views/Partials/Shared/_Leadbanner.cshtml")

<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <p>@Umbraco.Field("bodyText")</p>
        </div>
    </div>
</aside>

<section id="product-category">
    <div class="container">
        @if (isPictureLayout)
        {
            int index = 0;
            for (int i = 1; i <= Math.Ceiling((double)products.Count() / 4); i++)
            {
                <div class="row">
                    @foreach (var product in products.Skip(index * 4).Take(4))
                    {
                        var image = Umbraco.Media(product.image);
                        <div class="col-md-3 product-inner">
                            <img src="@image.Url" class="img-responsive" alt="@image.UrlName">
                            <div class="product-inner-box">
                                <h3>
                                    @product.title
                                </h3>
                                <p>
                                    @product.summary
                                </p>
                            </div>
                        </div>
                    }
                </div>

                index++;
            }
        }
        else
        {
            foreach (var product in products)
            {
                var image = Umbraco.Media(product.image);

                <div class="row">
                    <div class="col-md-5">
                        <img src="@image.Url" class="img-responsive" alt="@image.UrlName">
                    </div>
                    <div class="col-md-7">
                        <h3>
                            @product.title
                        </h3>
                        <p>
                            @product.text
                        </p>
                    </div>
                </div>
            }
        }
    </div>
</section>

<div>
    @CurrentPage.GetGridHtml("grid")
</div>