@inherits Umbraco.Web.Mvc.UmbracoViewPage<TousLesGouts.Site.Web.Models.Contact.ContactForm>

@using (Html.BeginUmbracoForm("Contact", "Form"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telephone)
        @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Telephone)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Message)
        @Html.TextAreaFor(model => model.Message, new { @class = "form-control contactform-message-input", @cols = 80, @rows = 10 })
        @Html.ValidationMessageFor(model => model.Message)
    </div>

    <div class="form-group text-right">
        <button type="submit" class="btn btn-lg btn-primary text-uppercase">@Umbraco.Field("#Contact.Verstuur")</button>
    </div>
}